@import 'base.scss';
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background: linear-gradient(135deg, #0ff0b3 0%, #036ed9 100%);
}
.container {
  background-color: $white-color;
  padding: 5rem 4rem;
  border-radius: 1rem;
  box-shadow: $shadow;
  .form {
    h2 {
      text-align: center;
      margin-bottom: 3rem;
    }
    .form-control {
      // position: relative;
      padding-top: 1rem;

      &.success {
        input {
          border-color: $success-color;
        }
        label {
          color: $success-color;
        }
      }
      &.error {
        input {
          border-color: $error-color;
        }
        label {
          color: $error-color;
        }
        small {
          visibility: visible;
        }
      }
      label {
        display: block;
        font-size: 1.4rem;
        color: #777;
        &.active {
          color: $primary-color;
        }
      }
      input {
        background-color: transparent;
        display: block;
        width: 30rem;
        padding: 0.5rem 1rem 1rem 1rem;
        font-size: 1.5rem;
        border: 0;
        border-bottom: 2px solid #ccc;
        transition: all 0.4s ease;
        &:focus {
          outline: none;
          border-bottom: 2px solid $primary-color;
        }
      }
      small {
        font-size: 1.1rem;
        color: $error-color;
        display: block;
        visibility: hidden;
      }
    }
    button {
      cursor: pointer;
      width: 100%;
      padding: 1.5rem;
      // background: linear-gradient(135deg, #0ff0b3 0%, #0ff0b3 100%);
      // background: linear-gradient(135deg, #0ff0b3 0%, #036ed9 100%);
      background: #228cf0;

      color: $white-color;
      border: none;
      font-size: 1.6rem;
      border-radius: 5px;
      margin-top: 5rem;
      transition: all 0.4s ease;
      &:hover {
        background: $primary-color;
      }
    }
  }
}
.valid {
  position: absolute;
  width: 15rem;
  height: 15rem;
  background-color: #228cf0;
  border-radius: 1rem;
  box-shadow: $shadow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  color: $white-color;
  transform: translate3d(0, 250%, 0);
  visibility: hidden;
  transition: all 0.4s ease-in-out;
  &.show {
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
  .fa-sync-alt {
    padding-top: 3rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
}
